* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    background-color: rgba(0, 0, 0, 0.918);
    margin-left: 30px;
}
h1 {
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 5px 0 4px 5px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
button {
    margin-top: 5px;
    padding: 3px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(7, 192, 161);
}
#submit {
    background-color: rgb(201, 154, 245);
}
input {
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0 5px 0;
    border-color: rgba(0, 0, 0, 0.151);
}
.destaque  {
    margin-left: 15px;
    margin-bottom: 20px;
    color: white;
}
.geral {
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 5px 0 4px 5px;
    color: white; 
}
#destaque-2 {
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 5px 0 4px 5px;
    color: white;
}
#dados-pessoais , #dados-parte-boa {
    color: rgb(7, 192, 161);
}
#parte-boa {
    color: rgb(201, 154, 245);
}
#parte-boa-2 {
    color: rgb(112, 231, 231);
}